@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.loginPage{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.loginContainer{
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    height: 70vh;
    width: 30vw;
    background-color: white;
    /* display: flex; */
    align-self: center;
}

.loginLogo{
    width: 130px;
    height: 130px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background-image: url('./assets/login_logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .loginContainer {
        width: 90vw;
    }
}